.bg {
  background-color: #000;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  color: #fff;
}

.headerText {
  font-size: 48px;
  padding-top: 50px;
}
.text {
  padding-top: 50px;
  font-size: 24px;
  font-weight: 900;
}

.yellow {
  color: #ffd700;
}
